h2 {
  color: darkslategray;
}
table,
th,
td {
  border-collapse: collapse;
  border: 1px solid black;
  color: darkred;
}
th,
td {
  padding: 0.25rem;
}
#right {
  text-align: right;
}
p {
  color: darkblue;
}
